.user {
  background-color: var(--ds-color-surface-tinted);
  padding: var(--ds-size-2);
  border-radius: var(--ds-border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}
